.flex {
    display: flex;
}
.spacebetween {
    justify-content: space-between;
}
.margin-head {
    margin: 10px 20px 50px;
}
.padding-right {
    padding: 5px;
}
.block {
    display: block;
}
.centeralign {
    text-align: center;
    justify-content: center;
}
.text-alignLeft {
    text-align: left;
}

.buttons {
    background-color: purple;
    color: white;
    border-radius: 5px;
}
.max-width {
    max-width: 500px
}
#viewHighscores {
    color: purple;   
}

#viewHighscores:hover {
    cursor: pointer;
}

/* MultiChoice list area */
#multiChoice li {
    background-color: purple;
    width: fit-content;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    color: white;
    list-style: none;
}
#multiChoice li:hover {
    opacity: 80%;
    cursor: pointer;
}
